body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
}

main {
    display: inline-block;
    width: 800px;
    margin-left: calc((100% - 800px)/2);
    margin-top: 80px;
}

.left-side {
    background-color: lightblue;
    float: left;
    width: 40%;
    margin-top: 50px;
    padding: 30px;
}

.right-side {
    display: inline-block;
    background-color: lightgreen;
    width: 60%;
    padding: 50px;
}

/* --- TEMP ------------ */
/* div {
    text-align: center;
} */
/* --------------------- */