body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    position: relative;
    background-color: #01A2C0;
}

.background {
    background: url("../img/pic.png") center center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    filter: blur(7px);
}

main {
    position: absolute;
    display: inline-block;
    width: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left-side {
    position: absolute;
    color: #FFF;
    width: 40%;
    padding: 30px;
    padding-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    top: 0;
    bottom: 0;
    background: url("../img/pic.png") center center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.main-header {
    font-weight: 100;
    font-size: 3rem;
}

.bottom-links {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    font-size: 0.8rem;
}

.link {
    color: #FFF;
}
